.Calender{
    width:420px;
    margin:auto;
    margin-top: 120px;
    border-radius:20px;
    padding:20px;
    background-color: #C8A2C8;
    height:500px;
    border: 15px double #26094e;
}
.Header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
}
body{
    background: #F8F3FC;
    height: 100vh;
    margin:0;
}
.days{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap:10px;
    padding:20px;
}

.day{
    background:white;
    padding:15px;
    text-align:center;
    border-radius:10px;
    font-weight:bold;
}

.today{
    background-color: #734da7;
    color:white;
}

.weekdays{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap:10px;
    padding:20px;
    padding-bottom:0;
    font-size: 20px;
}

.weekdays div{
    text-align:center;
    font-weight:bold;
    color:white;
}
.clicked{
    background-color: #806f9b;
    color:white;
}
#Prev{
    background-color: #a494be;
}
#next{
    background-color: #a494be;
}
.navbar {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #d9c5e8;
  border-radius: 50px;
  padding: 18px 35px;
  width:95%;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0 8px 25px rgba(106, 76, 147, 0.08);
  backdrop-filter: blur(10px);
  position: fixed;
  top:0;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #6A4C93;
  margin:0;
}

.nav-links {
  display: flex;
  gap: 50px;
  margin-right:20px;
}

.nav-links a {
  text-decoration: none;
  color: #5b4a74;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #6A4C93;
  border-bottom: 2px solid #6A4C93;
  padding-bottom: 3px;
}
