.ReminderSection{
    border: 15px double #26094e;
    border-radius: 15px;
    width:80%;
    min-height:100vh;
    background-color: #EBDCF5;
    margin:auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
h1{
    color: #6A4C93;
}
input{
    width:250px;
    height:30px;
    background: transparent;
    padding: 10px;
    font-size: 20px;
}
button{
    border-radius: 35px;
    height:35px;
    width:80px;
    background-color: #C8A2C8;
}
button{
    transition: 0.3s ease;
}
button:hover{
    transform:scale(1.1);
    background-color: #8E6BBE;
}
body{
    background: #F8F3FC;
    justify-content: center;
    align-items: center;
    display: flex;
}
li{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    margin: 15px auto;
    padding: 12px;
    width:60%;
    border-radius: 10px;
    font-size: 20px;
}
.task-left{
    display:flex;
    align-items: center;
    gap:15px;
    overflow-wrap: break-word;
    word-break: break-all;
}
input[type="checkbox"]{
    width:20px;
    height:20px;
}
.deleteBtn{
    background-color: rgb(161, 89, 89);
    color:white;
    border:none;

    width:40px;
    height: 40px;

    border-radius: 50%;
    cursor: pointer;

    font-size: 18px;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.navbar {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #d9c5e8;
  border-radius: 50px;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0 8px 25px rgba(106, 76, 147, 0.08);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #6A4C93;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #5b4a74;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #6A4C93;
  border-bottom: 2px solid #6A4C93;
  padding-bottom: 3px;
}
