button{
    padding:14px;
    margin:15px;
    border-radius: 10px;
    font-size: larger;
    opacity:0.4;
    transition: 0.2s;
    color:white;
}
button:hover{
    transform:translateY(-10px);
    opacity:1;
}
#Start1,#Start2{
    background-color: rgb(75, 255, 47);
}
#Stop1,#Stop2{
    background-color: red;
}
#Reset1,#Reset2{
    background-color: rgb(131, 192, 232);
}
.ParentGroup{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:20px;
    text-align: center;
    justify-content: center;
}
.Group{
    border: 2px double white;
    background-color: #C8A2C8;
    border-radius: 15px;
    padding:20px;
    width:350px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #6A4C93;
}
a{
    text-decoration: none;
    transition:0.3s ease;
}
h1:hover{
    transform: scale(1.1);
}
.Timer{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1cm;
    font-weight: bolder;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #C8A2C8;
    background: #F8F3FC
}
#TimerMin{
    width:120px;
}